<div class="row">
    <div class="col-md-4">
        <div class="panel panel-default">
            <div class="panel-body">
             <div class="form-group">
                    <label class="">Групи категорій</label>
                    <select class="form-control" ng-model="answerViewCtrl.group"
                            ng-options="group.values as group.groupTitle for group in answerViewCtrl.groups"
                            ng-change="answerViewCtrl.selectGroup()">
                    </select>
                </div>
                <div class="form-group">
                    <label class="">Категорія</label>
                    <select class="form-control" ng-model="answerViewCtrl.category"
                            ng-options="cat.name as cat.title for cat in answerViewCtrl.categories track by cat.name"
                            ng-change="answerViewCtrl.selectCat()">
                        <option value="">Всі</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="">Рік</label>
                    <select class="form-control" ng-model="answerViewCtrl.year"
                            ng-options="year for year in answerViewAbsCtrl.years"
                            ng-change="answerViewCtrl.selectYear()">
                        <option value="">Всі</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="">Рівень зміни</label>
                    <select class="form-control" ng-model="answerViewCtrl.deep"
                            ng-options="key as value.text for (key, value) in answerViewCtrl.deepClasses"
                            ng-change="answerViewCtrl.selectDeep()">
                        <option value="">Всі</option>
                    </select>
                </div>
                <div class="form-group">
                    <button type="button" class="btn btn-warning btn-sm" ng-click="answerViewCtrl.clearSelect()">
                        Зкинути
                    </button>
                </div>
                <div>Кількість відповідей, які відповідають критеріям пошуку: 
                {{ answerViewCtrl.totalFindedUsers }}</div>
                <div class="form-group">
                    <label class="">Користувачі відповіді яких підповідають критеріям пошуку:</label>
                    <div class="x-navigation x-navigation-horizontal b-custom-search">
                        <div class="xn-search">
                            <input type="text" name="search"
                                ng-model="answerViewCtrl.filterName"
                                ng-model-options="{ debounce: 1000 }"
                                placeholder="Пошук...">
                        </div>
                    </div>
                    <select class="form-control" multiple
                        ng-model="answerViewCtrl.selectedUsers"
                        ng-options="user.answerId as user.name for user in answerViewCtrl.users|filter:{'name': answerViewCtrl.filterName}"
                        ng-change="answerViewCtrl.selectUsers()">
                    </select>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-8">
        <div class="panel panel-default">
            <div class="panel-body">
                <ce-answer-view></ce-answer-view>
            </div>
        </div>
    </div>
</div>
