<div class="row">
	<div class="col-md-12">
	 	<div class="panel panel-default mt15">
			<div class="panel-body">
			    <h3>Результати опитування</h3>
			    <p>Загальна кількість відповідей: {{ answerViewAbsCtrl.generalTotal }}</p>
			    <button type="button" class="btn btn-default" ng-click="answerViewAbsCtrl.setComareMode()"><i class="fa fa-exchange"></i> Порівняти</button>
		     </div>
		 </div>
	</div>
	<div ui-view="view1"></div>
    <div ui-view="view2" ng-if="answerViewAbsCtrl.isCompareMode"></div>
</div>