<div class="login-container lightmode">

    <div class="login-box animated fadeInDown">
        <!-- <div class="login-logo"></div> -->
        <div class="login-body">
            <ui-view></ui-view>
        </div>
        <div class="login-footer">
            <div class="pull-left">
                &copy; 2016 CHNU
            </div>
        </div>
    </div>

</div>