<div class="panel panel-default mt15">
    <div class="panel-heading">
        <h3 class="panel-title">Групи категорій</h3>
    </div>
    <div class="panel-body list-group list-group-contacts">
        <a ui-sref="main.item({id: group._id})" class="list-group-item" ng-repeat="group in categoryGroupCtrl.groups">
            <span class="contacts-title">{{ group.groupTitle }}</span>
        </a>
    </div>
</div>