<div class="panel panel-default mt15">
    <div class="panel-heading">
        <h3 class="panel-title">Категорія користувачів <strong>({{ categoryListCtrl.sumCoeff }})</strong></h3>
    </div>
    <div class="panel-body list-group list-group-contacts">
        <a href="" class="list-group-item" ng-repeat="category in categoryListCtrl.categories"
        ng-click="categoryListCtrl.edit($index)">
            <span class="contacts-title">{{ category.title }}</span>
            <p>{{ category.coefficient }}</p>
        </a>
    </div>
</div>