

<form class="form-horizontal" name="pollCreateCtrl.pollCreateForm">
<div class="panel panel-default mt15">
    <div class="panel-heading">
        <h3 class="panel-title"><strong>Створити нове опитування</strong></h3>
    </div>
    <div class="panel-body">

        <div class="form-group">
            <label class="col-md-3 col-xs-12 control-label">Назва опитування</label>
            <div class="col-md-6 col-xs-12">
                <textarea class="form-control" rows="5" ng-model="pollCreateCtrl.poll.title" required></textarea>
            </div>
        </div>

    </div>
    <div class="panel-footer">
        <button type="button" ng-click="pollCreateCtrl.addQuestion()" class="btn btn-warning">Додати питання</button>
        <button type="button" class="btn btn-primary pull-right" ng-click="pollCreateCtrl.save()">Зберегти</button>
    </div>
</div>

<div class="panel panel-default" ng-repeat="question in pollCreateCtrl.poll.quests">
    <div class="panel-heading">
        <h3 class="panel-title">{{ question.title }}</h3>
        <ul class="panel-controls">
            <li><a ng-click="pollCreateCtrl.edit($index)"><span class="fa fa-pencil"></span></a></li>
            <li><a ng-click="pollCreateCtrl.removeQuest($index)"><span class="glyphicon glyphicon-remove"></span></a></li>
        </ul>
    </div>
    <div class="panel-body">
        <ul class="list-group border-bottom">
            <li class="list-group-item">
                <strong>A: </strong> {{ question.answers.a }}
            </li>
            <li class="list-group-item">
                <strong>B: </strong> {{ question.answers.b }}
            </li>
            <li class="list-group-item">
                <strong>C: </strong> {{ question.answers.c }}
            </li>
            <li class="list-group-item">
                <strong>D: </strong> {{ question.answers.d }}
            </li>
        </ul>
    </div>
</div>
</form>