<div class="panel panel-default mt15">
    <div class="panel-heading">
        <h3 class="panel-title"><b>CE-system</b></h3>
    </div>
    <div class="panel-body">
    	<p>
	        <b>CE-system</b> - web-середовище для визначення колективної оцінки організації, що досліджуємо та прийняття колективних рішень у форматі конструкції конкуруючих цінностей.
    	</p>
		<p>Web-сервіс створений на основі онлайн системи керування навчанням ЧНУ ім. Петра Могили <a href="http://moodle.chdu.edu.ua/" target="_blank">Moodle</a></p>
    </div>
</div>