<!-- START PAGE CONTAINER -->
<div class="page-container">

    <!-- START PAGE SIDEBAR -->
    <div class="page-sidebar">
        <!-- START X-NAVIGATION -->
        <ul class="x-navigation">
            <li class="xn-logo">
                <a ui-sref='main.default'><span class="fa fa-group"></span>CE-System</a>
                <a href="#" class="x-navigation-control"></a>
            </li>
            <li class="xn-profile">
                <div class="profile">
                    <div class="profile-data">
                        <div class="profile-data-name">{{ user.name }} {{ user.surname }}</div>
                        <div class="profile-data-title"><strong>Категорія:</strong> {{ categoryTitle }}</div>
                    </div>
                </div>
            </li>
            <li ui-sref-active="active">
                <a ui-sref='main.list'><span class="fa fa-list-ol"></span><span class="xn-text">Перелік опитувань</span></a>
            </li>
            <li ui-sref-active="active" ng-if="isPrivateRoute()">
                <a ui-sref='main.create'><span class="fa fa-check-square-o"></span><span class="xn-text">Створити опитування</span></a>
            </li>
            <li ui-sref-active="active"  ng-if="isPrivateRoute()">
                <a ui-sref='main.categories'><span class="fa fa-users"></span><span class="xn-text">Категорії користувачів</span></a>
            </li>
        </ul>
        <!-- END X-NAVIGATION -->
    </div>
    <!-- END PAGE SIDEBAR -->

    <!-- PAGE CONTENT -->
    <div class="page-content">

        <!-- START X-NAVIGATION VERTICAL -->
        <ul class="x-navigation x-navigation-horizontal x-navigation-panel">
            <!-- SEARCH -->
            <!-- <li class="xn-search">
                <form role="form">
                    <input type="text" name="search" placeholder="Search..."/>
                </form>
            </li> -->
            <!-- END SEARCH -->
            <!-- POWER OFF -->
            <li class="xn-icon-button pull-right last">
                <a ng-click="logOut()"><span class="fa fa-power-off"></span></a>
            </li>
            <!-- END POWER OFF -->
        </ul>
        <!-- END X-NAVIGATION VERTICAL -->

        <!-- START BREADCRUMB -->
        <!-- <ul class="breadcrumb">
            <li><a href="#">Home</a></li>
            <li><a href="#">Layouts</a></li>
            <li class="active">Navigation Toggled</li>
        </ul> -->
        <!-- END BREADCRUMB -->

        <!-- PAGE CONTENT WRAPPER -->
        <div class="page-content-wrap">

            <div class="row">
                <div class="col-md-12">
                    <ui-view></ui-view>
                </div>
            </div>

        </div>
        <!-- END PAGE CONTENT WRAPPER -->
    </div>
    <!-- END PAGE CONTENT -->
</div>
<!-- END PAGE CONTAINER -->

<!-- END TEMPLATE -->






