<div class="login-title"><strong>Вхід</strong> до Вашого аккаунту</div>
<form name="loginForm" ng-submit="singInCtrl.loginUser()" class="form-horizontal">
	<div class="form-group">
	    <div class="col-md-12">
	        <input type="text" ng-model="singInCtrl.login" class="form-control" id="name" required data-validation-required-message="Please enter your login." placeholder="Логін"/>
	    </div>
	</div>
	<div class="form-group">
	    <div class="col-md-12">
	        <input type="password" ng-model="singInCtrl.password" class="form-control" id="password" required data-validation-required-message="Please enter your password." placeholder="Пароль"/>
	    </div>
	</div>
	<div class="form-group">
	    <div class="col-md-6">
	        <a ui-sref="auth.register" class="btn btn-link btn-block">Зареєструватись</a>
	    </div>
	    <div class="col-md-6">
	        <button type="submit" class="btn btn-info btn-block">Вхід</button>
	    </div>
	</div>
</form>