<div class="page-title mt15">
    <h2><span class="fa fa-arrow-circle-o-left"></span> Перелік опитувань</h2>
</div>
<div class="panel panel-default mt15" ng-repeat="poll in pollListCtrl.polls">
    <div class="panel-body">
    	<a ui-sref="main.answerView.result({pollId: poll._id})">
            <h4>{{ poll.title }}</h4>
        </a>
    </div>
    <div class="panel-footer">
        <div class="panel-title-box pull-left">
            <span>{{ pollListCtrl.parseDate(poll.created_at) }}</span>
        </div>
        <a  ui-sref="main.pass({pollId : poll._id})" class="btn btn-success pull-right">
            <span>Пройти опитування</span>
        </a>
        <div class="clearfix"></div>
    </div>
</div>