<div class="page-title mt15">
    <h3><span class="fa fa-arrow-circle-o-left"></span> {{ pollPassCtrl.poll.title }}</h3>
</div>
<div class="panel panel-default" ng-repeat="quest in pollPassCtrl.poll.quests">
    <div class="panel-heading">
        <h3 class="panel-title"><strong>{{ $index + 1 }})</strong> {{ quest.title }}</h3>
        <ul class="panel-controls" style="margin-top: 2px;">
            <li><span class="fa fa-arrows-v text-info"></span><span class="text-info">Зараз</span></li>
            <li><span class="fa fa-arrows-v text-default"></span><span class="text-default">Майбутнє</span></li>
            <li><span class="fa fa-arrows-v text-success"></span><span class="text-success">Перспектива</span></li>
        </ul>
    </div>
    <div class="panel-body">
        <ul class="list-group border-bottom">
            <li class="list-group-item">
                <div class="b-answers-variants">
                    <div class="b-quest-answers-part-item">
                        <span><b>A: </b></span>{{ quest.answers.a }}
                    </div>
                    <div class="b-quest-answers-part-item">
                        <span><b>B: </b></span>{{ quest.answers.b }}
                    </div>
                </div>
                <div class="b-answer-range">
                    <div class="quest-answers-part-item-range b-slider-perspectives">
                        <ce-range-slider answers="pollPassCtrl.perspectives[$index]" key-one="a" key-two="b">
                        </ce-range-slider>
                    </div>
                     <div class="quest-answers-part-item-range b-slider-desirables">
                        <ce-range-slider answers="pollPassCtrl.desirables[$index]" key-one="a" key-two="b">
                        </ce-range-slider>
                    </div>
                    <div class="quest-answers-part-item-range b-slider-now">
                        <ce-range-slider answers="pollPassCtrl.nows[$index]" key-one="a" key-two="b">
                        </ce-range-slider>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </li>
            <li class="list-group-item">
                <div class="b-answers-variants">
                    <div class="b-quest-answers-part-item">
                        <span><b>C: </b></span>{{ quest.answers.c }}
                    </div>
                    <div class="b-quest-answers-part-item">
                        <span><b>D: </b></span>{{ quest.answers.d }}
                    </div>
                </div>
                <div class="b-answer-range">
                    <div class="quest-answers-part-item-range b-slider-perspectives">
                        <ce-range-slider answers="pollPassCtrl.perspectives[$index]" key-one="c" key-two="d">
                        </ce-range-slider>
                    </div>
                     <div class="quest-answers-part-item-range b-slider-desirables">
                        <ce-range-slider answers="pollPassCtrl.desirables[$index]" key-one="c" key-two="d">
                        </ce-range-slider>
                    </div>
                    <div class="quest-answers-part-item-range b-slider-now">
                        <ce-range-slider answers="pollPassCtrl.nows[$index]" key-one="c" key-two="d">
                        </ce-range-slider>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </li>
        </ul>
    </div>
</div>
<div class="panel panel-default">
    <div class="panel-body align-center">
        <div class="col-md-4 col-md-offset-4">
            <button class="btn btn-success btn-block" type="button" ng-click="pollPassCtrl.saveAnswer()">Завершити</button>
        </div>
    </div>
</div>