<div class="login-title"><strong>Зареєструвати</strong> аккаунт</div>
<form name="registerForm" ng-submit="singUpCtrl.singUpUser()" class="form-horizontal">
    <div class="form-group">
        <div class="col-md-12">
            <input type="text" class="form-control" ng-model="singUpCtrl.user.login" required placeholder="Логін"/>
            <p class="help-block"></p>
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-12">
            <input type="password" class="form-control" ng-model="singUpCtrl.user.password" required placeholder="Пароль"/>
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-12">
            <input type="text" class="form-control" ng-model="singUpCtrl.user.name" required placeholder="Ім'я"/>
            <p class="help-block"></p>
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-12">
            <input type="text" class="form-control" ng-model="singUpCtrl.user.surname" required placeholder="Прізвище"/>
            <p class="help-block"></p>
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-12">
            <input type="email" class="form-control" ng-model="singUpCtrl.user.email" required placeholder="Email"/>
            <p class="help-block"></p>
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-12">
            <label>Категорія:</label>
            <select class="form-control" 
            ng-options="cat.name as cat.title for cat in singUpCtrl.categories"
            ng-model="singUpCtrl.user.category"></select>
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-6"></div>
        <div class="col-md-6">
            <button type="submit" class="btn btn-info btn-block">Регістрація</button>
        </div>
    </div>
</form>