doctype html
html
  head
    title= "CE-System"
    base(href='/')
    link(rel='stylesheet', href='/stylesheets/assets.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body(ng-app='app', class='page-container-boxed')
    block content
    messenger-notification
    
    script(src='./javascripts/assets.js')
    script(src='./javascripts/main.js')
