.ce-range-slider {
  height: 100%;
}

.ce-slider {
  height: 100%;

  .ce-slider-label,
  .ce-slider-container  {
      display: inline-block;
  }

  .ce-slider-container {
    position: relative;
    width: 16px;
    height: 100%;

    .ce-slider-bar,
    .ce-slider-bar-highlight {
      position: absolute;
      left: 50%;
      margin-left: -3.5px;
      height: 100%;
      width: 7px;
      // background: #7f8c8d;
      -webkit-box-shadow: inset 0px 1px 3px rgba(0, 0, 0, 0.3);
      -moz-box-shadow: inset 0px 1px 3px rgba(0, 0, 0, 0.3);
      box-shadow: inset 0px 1px 3px rgba(0, 0, 0, 0.3);
      -webkit-border-radius: 10px;
      -moz-border-radius: 10px;
      -ms-border-radius: 10px;
      -o-border-radius: 10px;
      border-radius: 10px;
    }

    .ce-slider-bar-highlight {
      // background: #7f8c8d;
    }

    .ce-slider-handle {
      // position: absolute;
      // top: 0;
      // margin-top: -8px;
      // height: 16px;
      // width: 16px;
      // background: #3B4A5E;
      // border-radius: 50%;
      // cursor: pointer;
    }
  }
}

.ce-slider-handle{
    background: white;
    border: 1px solid #ccc;
    cursor: pointer;
    display: inline-block;
    width: 20px;
    height: 20px;
    position: absolute;
    top: -10px;
    margin-top: -10px;
    margin-left: -2px;
    z-index: 3;
    background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, rgba(255, 255, 255, 0)), color-stop(100%, rgba(0, 0, 0, 0.1)));
    background-image: -webkit-linear-gradient(rgba(255, 255, 255, 0), rgba(0, 0, 0, 0.1));
    background-image: -moz-linear-gradient(rgba(255, 255, 255, 0), rgba(0, 0, 0, 0.1));
    background-image: -o-linear-gradient(rgba(255, 255, 255, 0), rgba(0, 0, 0, 0.1));
    background-image: linear-gradient(rgba(255, 255, 255, 0), rgba(0, 0, 0, 0.1));
    -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
    &:after{
      content: "";
      display: block;
      width: 10px;
      height: 10px;
      margin: auto;
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, rgba(0, 0, 0, 0.13)), color-stop(100%, rgba(255, 255, 255, 0)));
      background-image: -webkit-linear-gradient(rgba(0, 0, 0, 0.13), rgba(255, 255, 255, 0));
      background-image: -moz-linear-gradient(rgba(0, 0, 0, 0.13), rgba(255, 255, 255, 0));
      background-image: -o-linear-gradient(rgba(0, 0, 0, 0.13), rgba(255, 255, 255, 0));
      background-image: linear-gradient(rgba(0, 0, 0, 0.13), rgba(255, 255, 255, 0));
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      -ms-border-radius: 50%;
      -o-border-radius: 50%;
    border-radius: 50%;
    }
}
.b-answer-range{
  .ng-binding{
    min-width: 25px
  }
  .ce-slider-label .ng-binding:first-child{
    position: absolute;
    top: 0;
  }
}

.b-slider-now{
  .ce-slider-bar,
    .ce-slider-bar-highlight{
      background:#3fbae4;
    }
}

.b-slider-desirables{
  .ce-slider-bar,
    .ce-slider-bar-highlight{
      background:#7f8c8d;
    }
}

.b-slider-perspectives{
  .ce-slider-bar,
    .ce-slider-bar-highlight{
      background:#95b75d;
    }
}