<div class="ce-slider">
	<div class="ce-slider-label">
		<div>{{ valueOne }}</div>
		<div>{{ valueTwo }}</div>
	</div>
	<div class="ce-slider-container">
		<div class='ce-slider-bar'>
	    	<div class='ce-slider-bar-highlight'></div>
		</div>
		<div class='ce-slider-handle' ng-mousedown='engageSlider($event)'></div>
	</div>
</div>
