<div>
    <div class="modal-header">
        <h3 class="modal-title">Створити нове питання</h3>
    </div>
    <div class="modal-body">
        <form name="createQuestForm" novalidate>
            <div class="form-group">
                <label for="questTitle">Текст питання</label>
                <textarea id="questTitle" class="form-control" ng-model="question.title" rows="3" required></textarea>
            </div>
            <div class="form-group">
                <label for="answerA">Відповідь A</label>
                <textarea id="answerA" class="form-control" ng-model="question.answers.a" rows="2" required></textarea>
            </div>
            <div class="form-group">
                <label for="answerB">Відповідь B</label>
                <textarea id="answerB" class="form-control" ng-model="question.answers.b" rows="2" required></textarea>
            </div>
            <div class="form-group">
                <label for="answerC">Відповідь C</label>
                <textarea id="answerC" class="form-control" ng-model="question.answers.c" rows="2" required></textarea>
            </div>
            <div class="form-group">
                <label for="answerD">Відповідь D</label>
                <textarea id="answerD" class="form-control" ng-model="question.answers.d" rows="2" required></textarea>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" type="button" ng-click="ok()">OK</button>
        <button class="btn btn-warning" type="button" ng-click="cancel()">Відмінити</button>
    </div>
</div>