<div>
    <div class="modal-header">
        <h3 class="modal-title">Редагування категорії</h3>
    </div>
    <div class="modal-body">
        <form name="editCategoryForm">
            <div class="form-group">
                <label for="categoryTitle">Назва категорії</label>
                <input type="text" id="categoryTitle" class="form-control" ng-model="category.title" required>
            </div>
               <div class="form-group">
                <label for="categoryCoefficient">Коефіціент категорії</label>
                <input type="text" id="categoryCoefficient" class="form-control" ng-model="category.coefficient" required>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" type="button" ng-click="ok()">OK</button>
        <button class="btn btn-warning" type="button" ng-click="cancel()">Відмінити</button>
    </div>
</div>