<div class="alert alert-dismissible custom-alert" ng-class="alertType" role="alert" style="display: none; z-index: 10000;">
    <button type="button" class="close" aria-label="Close" ng-click="close()">
        <span aria-hidden="true">&times;</span>
    </button>
    <span class="message"></span>
</div>